.ui.segment.editor-container {
  width: 660px;
  margin: 0 auto;
  border-radius: 0;
}

.ui.image.editor-eyecatch {
  max-width: calc(100% + 2em);
  width: calc(100% + 2em);
  margin: -1em -1em 0;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: #ccc;
}

[contenteditable='true']:focus {
  border: none;
  outline: none;
}

.ui.input.article-title {
  width: 100%;
  margin: 0 auto;
}

.ui.input.article-title input[type=text]{
  padding: 16px 0;
  border: none;
  font-weight: 700;
  line-height: 1.3em;
  font-size: 2rem;
  width: 100%;
}
